<h1>Resume</h1>
<img src="public/tity.JPG"></img>
<h2>Watcharavit Tangsasom</h2>
<p>This is resume</p>
<table>
	<tr>
		<th>Education</th>
		<th>Academy</th>
		<th>Year</th>
	</tr>	
	<tr>
		<td>Primary</td>
		<td>Supaluck</td>
		<td>2008-2013</td>
	</tr>	
	<tr>
		<td>Secondary</td>
		<td>Suankularb</td>
		<td>2014-2019</td>
	</tr>	
	<tr>
		<td>University</td>
		<td>Chulalongkorn U.</td>
		<td>2020-present</td>
	</tr>	
</table>
